<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form acrion='/' , method='post'>
        <label>Add Task</label>
        <input required type="text" name="add" placeholder="What is your task ?">
        <input type="submit" value="Add">
    </form>
    <ul>
        <% for(let todo of todos){ %>
            <li><span><%= todo.label %></span></li>
            <% } %>
    </ul>
</body>

</html>